@{
    ViewData["Title"] = "Enviar Arquivo";
}

<form method="post" enctype="multipart/form-data" asp-controller="Sincronizador" asp-action="Enviar">
    <div class="form-group">
        <div class="form-group">
            <h4>Enviar um ou mais arquivos :</h4>
            <input type="file" name="arquivos" multiple />
        </div>
        <div class="form-group form-inline">
            <label for="segundos" class="col-sm-2 col-form-label">Offset: </label>
            <div>
                <input type="text" maxlength="3" size="2" name="segundos" placeholder="sec" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group form-inline">
            <input type="submit" value="Enviar Arquivo" />
        </div>
    </div>
</form>
