@{
    ViewData["Title"] = "Enviar Arquivo(s)";
}

<div class="container">
    @if (ViewData["Erro"] != null)
    {
        <h2 class="display-4">@ViewData["Erro"]</h2>
    }
</div>
<div class="container">
    @if (ViewData["Resultado"] != null)
    {
    <h2>@ViewData["Resultado"]</h2>
        <form method="post" enctype="multipart/form-data" asp-controller="Sincronizador" asp-action="ProcessarArquivosDeLegenda">
            <div class="form-group">
                <div class="form-group">
                    <h4>Enviar um ou mais arquivos :</h4>
                    <input type="file" name="arquivos" multiple />
                </div>
                <div class="form-group form-inline">
                    <label for="segundos" class="col-sm-2 col-form-label">Offset: </label>
                    <div>
                        <input type="text" size="8" name="offset" placeholder="ms" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group form-inline">
                    <input type="submit" value="Processar arquivo(s)" />
                </div>
            </div>
        </form>
        @Html.ActionLink("Legendas formatadas", "Index", "Arquivos")
    }
</div>
